{% extends "block--no-wrapper.html.twig" %}
{#
/**
 * @file
 * Theme override for the site branding block.
 */
#}

{% block content %}
    {% if site_logo %}
      <div class="logo-wrapper">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
            <img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      </div>
    {% endif %}
{% endblock %}
