
{%
  set classes = [
  'component',
  'component--type-' ~ paragraph.bundle|clean_class,
  'component-paragraph',
  'container',
  'bg__ultramarine',
  'padded-column',
]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="component-wrapper">
    <div class="component-content">
      <div class="news-section-title container small-width padded-row">
        <h2 class="text__allcaps">Latest News</h2>
      </div>


      <div class="news-wrapper container x-small-width padded-row">
        {{ content.field_news_item }}
      </div>


    </div>
  </div>
</section>
