
{%
  set classes = [
  'component',
  'component--type-' ~ paragraph.bundle|clean_class,
  'component-paragraph',
  'container',
  'page-width',
]
%}

{# Attach CSS/JS Libraries - change library location as needed #}
{#{{ attach_library('custom_paragraphs/slick') }}#}

<section{{ attributes.addClass(classes) }}>
  <div class="component-wrapper">
    <div class="component-content">
      {{ title_suffix }}

      <div class="gallery-wrapper">
        {{ content.field_gallery_images }}
      </div>

    </div>
  </div>
</section>
