// ==========================================================================
//   COLORS
// ==========================================================================

// Color palette specific to this site
$navy: #003068;
$cornflower: #0078BC;
$seafoam: #D4ECF2;

// Always available
$black:          #000000; // darkest
$charcoal:       #15212C;
$default-gray:   #A9A9A9;
$ice:            #f2f2f2;
$white:          #ffffff; // lightest

// Admin colors (matches Gin settings)
$action-admin-color: #0A51E6;

// Message colors
$light-green:    #8dbe51;
$mustard:        #ddc44f;
$tomato:         #cd4533;
