// ==========================================================================
//   SITE HEADER
// ==========================================================================

header {
  //border-bottom: 2px solid $primary-color;
  #site-header {
    padding: $gutter;
    .region-header {}
    .navigation-wrapper {
      #navigation-panel {}
      .region-navigation-secondary {
        width: 100%;
        #search-trigger {
          position: absolute;
          right: 65px;
          top: 30px;
        }
        .search-wrapper {
          position: absolute;
          top: 85px;
          bottom: auto;
          right: 0;
          left: auto;
          width: 100%;
          max-width: 480px;

        }
      }
    }

    // unique to hamburger-triggered mobile menu
    @include bp($desktop-nav, down) {
      .navigation-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        #navigation-panel {
          display: none;
          z-index: 500;
          //padding: $gutter 0;
          width: 100%;
          max-width: 480px;
          float: right;
          top: $mobile-header-height;
          background-color: $primary-color;
          padding-bottom: $gutter;
        }
      }
    }

    @include bp($desktop-nav, up) {
      position: relative;
      display: flex;
      align-items: center;
      .region-header {}
      .navigation-wrapper {
        display: flex;
        flex-direction: column;
        width: calc(100% - #{$logo-mx-tablet});
        #navigation-panel {
          display: block !important; // show for horizontal display
          .wrapper__menu--main {
            float: right;
            margin-bottom: $gutter/2;
          }
          .grouped-menus {
            float: right;
            > div {
              float: right;
              clear: both;
              & + div {
                margin-top: $gutter/2;
                margin-left: $gutter/2;
              }
              &:last-of-type {
                padding-right: 40px; // make room for search icon
              }
            }
          }
        }
        .region-navigation-secondary {
          position: absolute;
          right: 0;
          bottom: 0;
          #search-trigger {
            right: 0;
            bottom: 0;
            top: auto;
          }
          .search-wrapper {
            position: absolute;
            top: 20px; // distance from trigger
            bottom: auto;
            right: 0;
            left: auto;
            width: 100%;
            max-width: 480px;
          }
        }
      }
    } //tablet up

    @include bp(wide-menu, up) { // wide enough to ignore tablet compensations
      .region-header {}
      .navigation-wrapper {
        width: calc(100% - #{$logo-mx-desktop});
        #navigation-panel {
          .wrapper__menu--main {
            margin-bottom: $gutter;
          }
          .grouped-menus {
            float: right;
            > div {
              float: left;
              clear: none;
              & + div {
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    // positioning the hamburger trigger
    #hamburger-navigation {
      display: block;
      position: absolute;
      top: $gutter*1.5;
      right: $gutter;
      left: auto;
      bottom: auto;
      z-index: 999;

      @include bp($desktop-nav, up) {
        display: none;
      }
    }

  }

}

