
// General class definitions for styles that can be applied globally


// Background classes
.bg {
  &__ice {
    background-color: $ice;
    color: $base-font-color;
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    a[href] {
      color: $primary-color !important;
      &:focus {
        @include focus-outline($color: $charcoal);
      }
    }
  }
  &__primary {
    background-color: $primary-color;
    color: $white;
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    a[href] {
      color: $white !important;
    }
    a[href] {
      &:hover {
        background-color: $white !important;
        color: $primary-color !important;
      }
      &:focus {
        @include focus-outline($color: $white);
        color: $primary-color !important;
      }
    }
    a:not(.button__outlined-white) {
      text-decoration: underline;
    }
    a.button__outlined-white {
      color: $action-color;
      &:hover {
        background-color: $white;
        color: $primary-color !important;
      }
      &:focus {
        @include focus-outline($color: $white);
        color: $primary-color !important;
      }
    }
  }
}

// Text classes
.text {
  &__centered {
    text-align: center;
  }
  &__large {
    font-size: 1.25em;
  }
  &__small {
    font-size: 12px;
  }
  &__allcaps {
    text-transform: uppercase;
  }
  &__label {
    text-transform: uppercase;
    color: $navy;
    @include font-size(16px);
    @include font-weight(semibold);
    @include tracking(40);
    margin-bottom: 0;
  }
}

// viewport visibility
.desktop {
  display: none;
  @include bp(large, up) {
    display: block;
  }
}

.mobile {
  display: block;
  @include bp(large, up) {
    display: none;
  }
}

.page-title-wrapper {
  padding: 20px 0;
  text-align: center;
}

.heading-wrapper {
  text-align: center;
  margin-bottom: $gutter;
}

.toolbar-icon-toggle-horizontal,
.toolbar-icon-toggle-vertical {
  z-index: 2;
}
